name: SAST - SonarCloud

on:
  push:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  analysis:
    name: Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          architecture: x64
      - uses: gradle/actions/wrapper-validation@v4
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew clean test koverXmlReport
      - uses: sonarsource/sonarqube-scan-action@v5.1
        with:
          args: >
            -Dsonar.projectBaseDir=${{ github.workspace }}
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=${{ github.repository_owner }}
            -Dsonar.projectKey==${{ github.repository_owner }}_${{ github.repository }}
            -Dsonar.language=kotlin
            -Dsonar.coverage.jacoco.xmlReportPaths=lib/build/reports/kover/report.xml
            -Dsonar.kotlin.coverage.reportPaths=lib/build/reports/kover/report.xml
            -Dsonar.kotlin.multiplatform.reportPaths=lib/build/reports/kover/report.xml
            -Dsonar.sources=lib/src/commonMain,lib/src/jvmAndAndroidMain
            -Dsonar.tests=lib/src/commonTest,lib/src/jvmAndAndroidTest
            -Dsonar.java.binaries=lib/build/classes/kotlin/jvm
            -Dsonar.kotlin.binaries=lib/build/classes/kotlin/jvm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
